<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <!--<script src="http://maps.google.com/maps/api/js"></script>-->

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCVm4jVmZ6AS8l3D4JCvtw_M-Hc60ZJJw8"></script>


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js" ></script >
    <script src="cordova.js" ></script >

    <!-- your apps js -->
    <script src="js/app.js"></script>
    <script src="lib/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
</head>

<body ng-app="caffeinehit">

    <ion-pane ng-controller="YelpController">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">
                <img src="img/coffee-bean-icon.png" style="max-height: 20px; max-width: 20px;">
                <span>CaffeineHit</span>
            </h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <ion-refresher on-refresh="doRefresh()" pulling-item="Refresh"></ion-refresher>
            <ion-list>
                <ion-item ng-repeat="cafe in yelp.results" class="item-thumbnail-left" ng-click="openMap(cafe)">
                    <img ng-src="{{cafe.image_url}}">
                    <h2>{{cafe.name}}</h2>

                    <p>
                        <span>
						<i class="ion ion-ios-navigate"></i>
						{{cafe.distance | number:"0"}}m</span>
                    </p>
                    <p>
                        <i class="ion ion-ios-location"></i> {{cafe.location.display_address | join:"," }}
                    </p>
                    <p>
                        <span>
						<i class="ion ion-star"></i>
						{{cafe.rating}}</span>
                        <span>
						<i class="ion ion-person"></i>
						{{cafe.review_count}}</span>
                    </p>
                    <ion-option-button ng-click="getDirections(cafe)" class="button-positive">
                        <i class="ion ion-map"></i> &nbsp;Map
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll on-infinite="loadMore()" ng-if="yelp.hasMore"></ion-infinite-scroll>
        </ion-content>
    </ion-pane>
</body>

</html>